.App {
  font-family: sans-serif;
  text-align: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.team-tile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 20px;
  position: relative;
}

.team-tile:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-info {
  padding: 20px;
}

.team-info img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 20px 0;
}

button {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

button:hover {
  background-color: #555;
}